.stApp {
  background-color: rgb(210, 195, 195);
  background-image: url("Image-processing.jpg");
}

#stHeader {
  background-color: aqua;
}

.st-emotion-cache-18ni7ap {
  background-color: rgb(170, 191, 191);
}

.st-emotion-cache-16y8ywy {
  background-color: #aae0b2;
}

.st-emotion-cache-h5rgaw {
  display: none;
}
